<%= stylesheet_link_tag 'homes' %>

<div class="about_page">
  <div class="BGC">
    <h1>New Valueについて</h1>
    <div class="text_contents">
      <h2>ーあなたを知ればわたしが変わるー</h2>
      <p>New Valueは</p>
      <h4>"新しい価値観を知ることで自分自身が成長できるのではないか"</h4>
      <p>という問いから生まれました。</p>
      <p>なので、自己分析を通して多くの価値観に触れて自分の考え方や価値観に変化を感じてもらえれば嬉しいです。</p>
    </div>
  </div>
  <h2>Producer</h2>
  <div class="row BGC producer">
    <div class="col-sm text_contents">
      <h3>岡田泰地（おかだ たいち）</h3>
    </div>
    <div class="col-sm img_contents">
      <img src="/assets/Producer_img.jpg" alt="Producer_img" width="400" height="250">
    </div>
  </div>
</div>
