<%= stylesheet_link_tag 'homes' %>

<div class="row BG_img">
  <div class="col-sm-4 text_contents">
    <p>aaa</p>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4 login">
    
  </div>
</div>
<div class="row BGC">
  <div class="text_contents">

  </div>
</div>
<div class="row BGC">
  <div class="col-sm-4 img_contents">
    <img src="assets/" alt="">
    <img src="assets/" alt="">
    <img src="assets/" alt="">
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text_contents">

  </div>
</div>
