<div class="user_part_index page">
  <div class="container">
    <%= render 'public/self_analyses/part_index', self_analyses: @self_analyses, analysis_part:@analysis_part, user: @user, questions: @questions %>
  </div>
</div>
