<% if self_analysis.favorited_by?(current_user) %>
  <li>
  <%= link_to path, method: :delete do %>
  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
  <%= self_analysis.favorites.count %> いいね
  <% end %>
  </li>
<% else %>
  <li>
    <%= link_to path, method: :post do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= self_analysis.favorites.count %> いいね
    <% end %>
  </li>
<% end %>
