/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


 @import "bootstrap";
 @import 'font-awesome';

 * {
   margin: 0;
   padding: 0;
   max-width: 100%;
   box-sizing: border-box;
   font-family: 'Luminari','Hannari';
 }

 @font-face {
  font-family: 'Luminari';
  src:asset-url('Luminari-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: 'Hannari';
  src:asset-url('Hannari.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.link_text{
  color: #322D00;
  text-decoration: none;
}

.link_text:hover{
  text-decoration: none;
}

.page, .flash{
  background-color: #FFF4E0;
}

 .container{
   text-align: center;
 }

 .navbar{
   height: 100px;
   background-color: #FFC679;
 }

 .default_icon, .user_icon{
   height: 70px;
   width: 70px;
   object-fit: cover; object-position:0% 0%;
 }

 .bold-text{
   font-weight: bold;
 }

 .wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
    width: 100%;
    background-color: #FFC679;
    text-align: center;
    padding: 30px 0;

 position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.none-li-point{
  list-style: none;
}
