// Place all the styles related to the public/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.BG_img{
  background-image: image-url("BGimg.jpeg");
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

nav{
  margin-top: -50px;
}

.BGC{
  margin-bottom: 50px;
}

.text_contents_white{
  color: white;
}

.app_name{
  margin-bottom: 80px;
}

.app_name_font{
  font-family: 'Luminari'
}


.app_name_li{
  list-style: none;
  font-size: 80px;
  display: inline-block;
  font-weight: bold;
}

.app_name li:nth-child(2){
  color: black;
}

.text_contents_white, .login{
  margin-top: 200px;
}

.company_head{
  margin-top: 30px;
}

.for_company{
  margin:0 350px;
}


.main_text_contents{
  text-align: center;
}

.about_page .BGC{
  background-color: #ffd8b2;
  text-align: center;
}

.about_page, .top_page{
  background-color: #ffd8b2;
}

.BGC h3{
  margin-top: 20px;
}
.BGC h1{
  margin-bottom: 20px;
}
.about_page h2{
  margin: 20px 0;
  text-align: center;
}

.how_to_use{
  margin-top: 50px;
}

.ex_text_contents{
  position: relative;
}

.ex_text_contents p{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
