// Place all the styles related to the public/SelfAnalyses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.self_analysis_new{
  margin: 0 auto;
}

.favorite_btn_li{
  list-style: none;
}

.question_form{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
}

.answer_form{
  text-align: left;
}

.answer_box{
  text-align: left;
  height: 80px;
  width: 400px;
}

.range_form{
  margin-top: 20px;
}
