// Place all the styles related to the public/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_show_page{
  text-align: center;
}

.user_header{
  height: 150px;
}

.icon_img, .header_center, .batch_space{
  margin-top: 20px;
}


.self_analyses_space{
  margin: 0 auto;
}
