<div class="container">
  <h2>あなたのアカウントはビジネスアカウントですが会社登録ができていません。</h2>
  <div class="row">
    <div class="col">
      <h4>会社登録に進む（まだ企業登録をしていない方）</h4>
    </div>
    <div class="col">
      <h4>アカウント編集に戻る</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "企業登録", new_public_company_path, class:"btn btn-success" %>
    </div>
    <div class="col">
      <%= link_to "アカウント編集", edit_public_user_path(current_user), class:"btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>会社選択に進む(既に企業登録している方)</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= link_to "企業選択", public_user_connect_path(current_user), class:"btn btn-success" %>
    </div>
  </div>
</div>
